.App {
  text-align: center;
  margin-top: 50px;
}

.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.tarjeta {
  border-radius: 5px;
  padding: 10px;
  margin: 45px;
  width: 200px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}